@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Welcome, user</h1>
    <a asp-action="Index" asp-controller="Item">View Wishlist</a>
</div>
</body>
</html>